*.env
.env.*
/node_modules
/dist
/.cache
/.next
/.nuxt
/.vscode
/.idea
/.DS_Store
/.git
/.github
/.gitignore
/.gitlab-ci.yml
/.eslintcache
/.prettiercache
/.yarn
/.yarnrc.yml
/.yarn-integrity
/.yarn/cache

/.yarn/unplugged
/.yarn/build-state.yml
